<div class="container  bg-dark w-50 mt-5 text-center bg-opacity-50 rounded-4 p-5">
    <h1 class="text-center text-light">Sign Up</h1>
    <hr class="text-light">
    <form action="">
        <div>
            <input type="text" [(ngModel)]="uname" id="uname" name="u1" class="form-control" placeholder="Enter Username">
        </div>

        <div>
            <input type="text" [(ngModel)]="accNo" placeholder="acc No" id="acc" name="u2" class="form-control mt-4">
        </div>

        <div>
            <input type="password" [(ngModel)]="psw" placeholder="Enter Password" id="pss" name="u3" class="form-control mt-4">
        </div>

        <button class="btn btn-success  mb-3 mt-4" (click)="register()" type="button">Register</button><br>
    </form>
</div>